:root { 
--white_A700_7f:#ffffff7f; 
--gray_50_01:#f9fbff; 
--white_A700_b2:#ffffffb2; 
--gray_50_02:#f8f9fa; 
--black_900_b2:#000000b2; 
--gray_50_03:#fcfcfc; 
--gray_50_04:#f6f7fb; 
--light_blue_300:#5fcfff; 
--light_blue_100:#b0e5fc; 
--light_blue_A100:#67d7fd; 
--light_green_A700:#22cb13; 
--red_200:#fa9a9a; 
--blue_A200:#4d90ff; 
--green_A100:#b5eacd; 
--black_900_3f:#0000003f; 
--light_blue_900:#0053a0; 
--black_900_01:#130e00; 
--yellow_800:#dba111; 
--deep_orange_700:#dc4a26; 
--pink_A700:#b20d78; 
--red_700_01:#ed1c24; 
--light_blue_A700:#0086ed; 
--blue_gray_700:#535763; 
--blue_gray_900_01:#2e2e2e; 
--deep_purple_A400:#7031fc; 
--blue_gray_900:#262b35; 
--deep_purple_A200:#9a4afe; 
--blue_900:#034694; 
--gray_400:#c4c4c4; 
--blue_gray_100:#d6dae2; 
--white_A700_0c:#ffffff0c; 
--blue_gray_300:#9ea8ba; 
--amber_500:#feb909; 
--gray_200:#efefef; 
--black_900_0c:#0000000c; 
--blue_50:#e0ebff; 
--black_900_0e:#0000000e; 
--indigo_400:#6a7ab5; 
--blue_gray_100_6c:#d1d3d46c; 
--blue_100:#d3d8ff; 
--blue_gray_400_01:#75839d; 
--white_A700:#ffffff; 
--blue_gray_700_01:#424c5d; 
--deep_orange_A200:#ff6332; 
--red_700:#d03329; 
--blue_gray_50:#eaecf0; 
--blue_A700:#0061ff; 
--blue_gray_100_01:#d9d9d9; 
--blue_gray_100_02:#d1d3d4; 
--amber_500_01:#fdbe11; 
--light_blue_400:#1ba9ff; 
--blue_A700_01:#0a58ff; 
--gray_50:#fafcff; 
--white_A700_75:#ffffff75; 
--yellow_500:#ffee37; 
--black_900:#000000; 
--deep_orange_600:#e86124; 
--gray_500_01:#a6a6a6; 
--yellow_900:#ef8521; 
--blue_gray_800:#37334d; 
--black_900_29:#00000029; 
--yellow_500_01:#f0e92d; 
--blue_600_01:#378fd3; 
--deep_orange_400:#f78a3b; 
--deep_orange_A400:#ff4b00; 
--gray_700_11:#55555511; 
--black_900_26:#00000026; 
--gray_900_02:#14022a; 
--black_900_e4:#000000e4; 
--gray_700:#666666; 
--gray_900_03:#242424; 
--blue_gray_200:#bac1ce; 
--gray_500:#929393; 
--blue_gray_400:#74839d; 
--gray_900:#0d1624; 
--gray_900_01:#202020; 
--blue_600:#228aed; 
--blue_gray_900_7f:#3333337f; 
--gray_300:#e0e0e0; 
--gray_300_01:#e3e4e5; 
--gray_100:#f3f4f5; 
--white_A700_87:#ffffff87; 
--cyan_100:#c1fdff; 
--white_A700_01:#fffffe; 
--white_A700_02:#fffeff; 
--blue_400:#3a96dd; 
--blue_200:#a6c8ff; 
}